$font-primary: #ffffff;
$font-secondary: #cacaca;
$font-sub: #000000;
$bg-primary: #000000;
$bg-hover: #ffffff;
$breakpoints: (
    'medium': (max-width: 500px),
    'large': (max-width: 768px),
    'huge': (max-width: 1024px),
);