<<<<<<< HEAD
@use '../Utils/mixins' as *;
@use '../Utils/variables' as *;

#contact{
    margin-left: 125px;
    @include respond-to('medium') {
        margin-left: 15px;
    }
}
.social{
        
    .social-link{
        @include display($type:flex, $justify:flex-start, $align:center, $direction:row);
        text-decoration: none;
        .social-icon{
            fill: white;
            height: 48px;
            width: 48px;
        }
        .social-tag{
            margin-left: 20px;
            font-size: 2.2em;
            letter-spacing: 2px;
        }
    }
=======
@use '../Utils/mixins' as *;
@use '../Utils/variables' as *;

#contact{
    margin-left: 125px;
    @include respond-to('medium') {
        margin-left: 15px;
    }
}
.social{
        
    .social-link{
        @include display($type:flex, $justify:flex-start, $align:center, $direction:row);
        text-decoration: none;
        .social-icon{
            fill: white;
            height: 48px;
            width: 48px;
        }
        .social-tag{
            margin-left: 20px;
            font-size: 2.2em;
            letter-spacing: 2px;
        }
    }
>>>>>>> main
}